*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.part-2-container{
  height: 52rem;
  background: #000;

  & img {
    width: 50rem;
    padding: 0.4rem;
    border-radius: 2rem 2rem 0rem 0rem !important;
  }

  &>div {
    margin: 0 auto;
    justify-content: center;
    &:last-child {
      width: 30rem;
      color: #fff;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 3.1rem;
    }
  }
}

