<!-- wp:group {"style":{"spacing":{"padding":{"right":"var(--wp--custom--h-spacing, 2.375rem)","left":"var(--wp--custom--h-spacing, 2.375rem)"}}},"backgroundColor":"background","layout":{"type":"flex","justifyContent":"space-between"}} -->
<div class="wp-block-group has-background-background-color has-background" style="padding-right:var(--wp--custom--h-spacing, 2.375rem);padding-left:var(--wp--custom--h-spacing, 2.375rem)">
	<!-- wp:group {"layout":{"type":"flex"}} -->
	<div class="wp-block-group">
		<!-- wp:site-logo {"width":40} /-->
		<!-- wp:site-title {"className":"is-style-hsbc_blocktheme-text-shadow","fontSize":"medium"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:navigation {"overlayMenu":"always","overlayBackgroundColor":"background","overlayTextColor":"foreground"} /-->
</div>
<!-- /wp:group -->
