/*
Theme Name: Catch FSE
Theme URI: https://catchthemes.com/themes/catch-fse
Author: Catch Themes
Author URI: https://catchthemes.com
Description: Catch FSE is a Free WordPress Block Theme for Full Site Editing. This theme comes with a responsive minimal design. With the Global Styles feature introduced in WordPress 6.0, you can pick your site color style from Dark or Light color schemes. The theme suits best for all kinds of websites including online blogs and corporate sites. Catch FSE has been built with the help of Twenty Twenty-Two. You can easily start building your content with the intuitive drag and drop interface using block patterns. It is a block-based theme and the theme is built in accordance of Full Site Editing features. It means that all the aspects including colors, typography, and the layout of every single page/post on your site can be customized to suit your need. With clean typography and simple design, Catch FSE helps in making your site unique among others. The theme comes with 15 different block patterns, 15 FSE Templates, and 9 Template Parts to help you build your custom corporate site the way you want. Also, using the custom blocks available in the theme, Catch FSE comes with different block patterns. For instance, About Us, Call to Action (CTA), Featured Content, Header Media, Header with Buttons, 404 Header, Archive Header, Default Footer, Footer Three Columns, Default Header, Post Header, Recent Blog with Sidebar, and Search Header. All of the blocks, block patterns, templates, and template parts in Catch FSE are fully responsive, adapt flawlessly to all screen sizes, and are highly customizable. Download Catch FSE today and start building your site with blocks!
Requires at least: 5.9
Tested up to: 6.0
Requires PHP: 5.6
Version: 1.5
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Text Domain: catch-fse
Tags: blog, one-column, two-columns, left-sidebar, right-sidebar, block-patterns, block-styles, custom-background, custom-logo, custom-menu, featured-images, footer-widgets, full-site-editing,  threaded-comments, wide-blocks, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Catch FSE is based on Twenty Twenty-Two WordPress Theme, 2021-2022 WordPress.org.
Catch FSE is distributed under the terms of the GNU GPL.
*/
/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
/* --- 1
-------------------------------------------------------- */
/* --- Block Base (from 2022 wordpress default)
-------------------------------------------------------- */
/*
 * Font smoothing.
 * This is a niche setting that will not be available via Global Styles.
 * https://github.com/WordPress/gutenberg/issues/35934
 */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

/*
 * Text and navigation link styles.
 * Necessary until the following issue is resolved in Gutenberg:
 * https://github.com/WordPress/gutenberg/issues/27075
 */
a {
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25ch; }

a:hover,
a:focus {
  text-decoration-style: dashed; }

a:active {
  text-decoration: none; }

.wp-block-navigation .wp-block-navigation-item a:hover,
.wp-block-navigation .wp-block-navigation-item a:focus {
  text-decoration: underline;
  text-decoration-style: solid; }

/*
 * Search and File Block button styles.
 * Necessary until the following issues are resolved in Gutenberg:
 * https://github.com/WordPress/gutenberg/issues/36444
 * https://github.com/WordPress/gutenberg/issues/27760
 */
.wp-block-search__button,
.wp-block-file .wp-block-file__button {
  background-color: var(--wp--preset--color--primary);
  border-radius: 0;
  border: none;
  color: var(--wp--preset--color--background);
  font-size: var(--wp--preset--font-size--medium);
  padding: calc(.667em + 2px) calc(1.333em + 2px); }

/*
 * Button hover styles.
 * Necessary until the following issue is resolved in Gutenberg:
 * https://github.com/WordPress/gutenberg/issues/27075
 */
.wp-block-search__button:hover,
.wp-block-file .wp-block-file__button:hover,
.wp-block-button:not(.is-style-catch-fse-button) .wp-block-button__link:hover {
  opacity: 0.90; }

/*
 * Alignment styles.
 * These rules are temporary, and should not be relied on or
 * modified too heavily by themes or plugins that build on
 * Catch FSE. These are meant to be a precursor to
 * a global solution provided by the Block Editor.
 *
 * Relevant issues:
 * https://github.com/WordPress/gutenberg/issues/35607
 * https://github.com/WordPress/gutenberg/issues/35884
 */
.wp-site-blocks,
body > .is-root-container,
.edit-post-visual-editor__post-title-wrapper,
.wp-block-group.alignfull,
.wp-block-group.has-background,
.wp-block-cover.alignfull,
.is-root-container .wp-block[data-align="full"] > .wp-block-group,
.is-root-container .wp-block[data-align="full"] > .wp-block-cover {
  padding-left: var(--wp--custom--spacing--outer);
  padding-right: var(--wp--custom--spacing--outer); }

/* (Custom) - Added this code to make group and cover full width in editor which has alignfull class(after 6.0) */
body > .is-root-container,
body > .is-root-container .wp-block-group.alignfull,
body > .is-root-container .wp-block-cover.alignfull {
  padding-left: 0;
  padding-right: 0; }

.is-root-container {
  display: flow-root; }

:root {
  overflow-x: hidden; }

.is-root-container main.main-front-page,
.is-root-container main.main-front-page + footer {
  margin-block-start: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

/* End */
.wp-site-blocks .alignfull,
.wp-site-blocks > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-cover,
.wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-template-part > .wp-block-cover,
body > .is-root-container > .wp-block-group.has-background,
body > .is-root-container > .wp-block-cover,
body > .is-root-container > .wp-block-template-part > .wp-block-group.has-background,
body > .is-root-container > .wp-block-template-part > .wp-block-cover,
.is-root-container .wp-block[data-align="full"] {
  margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
  margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
  width: unset; }

/* Blocks inside columns don't have negative margins. */
.wp-site-blocks .wp-block-columns .wp-block-column .alignfull,
.is-root-container .wp-block-columns .wp-block-column .wp-block[data-align="full"],
.wp-site-blocks .alignfull:not(.wp-block-group) .alignfull,
.is-root-container .wp-block[data-align="full"] > *:not(.wp-block-group) .wp-block[data-align="full"] {
  margin-left: auto !important;
  margin-right: auto !important;
  width: inherit; }

/*
 * Responsive menu container padding.
 * This ensures the responsive container inherits the same
 * spacing defined above. This behavior may be built into
 * the Block Editor in the future.
 */
.wp-block-navigation__responsive-container.is-menu-open {
  padding-top: var(--wp--custom--spacing--outer);
  padding-bottom: var(--wp--custom--spacing--large);
  padding-right: var(--wp--custom--spacing--outer);
  padding-left: var(--wp--custom--spacing--outer); }

/* --- 2
-------------------------------------------------------- */
/* --- Block Styles
-------------------------------------------------------- */
/* --- WP Block Button Style
-------------------------------------------------------- */
.wp-block-button.is-style-catch-fse-button .wp-block-button__link {
  background: transparent !important;
  background-color: transparent !important;
  color: var(--wp--preset--color--foreground);
  border-radius: 0;
  padding: 0; }

.is-style-outline > .wp-block-button__link:not(.has-background),
.wp-block-button__link.is-style-outline:not(.has-background) {
  background: transparent !important; }

.is-style-outline > .wp-block-button__link:not(.has-text-color),
.wp-block-button__link.is-style-outline:not(.has-text-color) {
  color: var(--wp--preset--color--body-text); }

/* --- WP Block Post Author Style
-------------------------------------------------------- */
.is-style-catch-fse-post-author-card {
  background-color: var(--wp--preset--color--secondary);
  padding: var(--wp--custom--spacing--extra-small); }

.is-style-catch-fse-post-author-card.wp-block-post-author .wp-block-post-author__content {
  padding-left: 10px; }

.is-style-catch-fse-post-author-card.wp-block-post-author .wp-block-post-author__bio {
  font-size: var(--wp--custom--typography--font-size--heading-six);
  line-height: var(--wp--custom--typography--line-height--heading-six); }

.is-style-catch-fse-post-author-card.wp-block-post-author .wp-block-post-author__name {
  font-size: var(--wp--preset--font-size--normal);
  font-weight: var(--wp--custom--typography--font-weight--semi-bold);
  line-height: var(--wp--custom--typography--line-height--paragraph);
  color: var(--wp--preset--color--foreground); }

.is-style-catch-fse-post-author-card.wp-block-post-author .wp-block-post-author__avatar > .avatar {
  border-radius: 50%; }

/* --- WP Block Post Comments Style
-------------------------------------------------------- */
.wp-block-post-comments.is-style-catch-fse-post-comments .commentlist > li > .children > li article,
.wp-block-post-comments.is-style-catch-fse-post-comments .commentlist > li > article {
  border-bottom: 1px solid var(--wp--preset--color--border-color);
  padding-bottom: var(--wp--custom--spacing--normal);
  padding-top: var(--wp--custom--spacing--normal); }

.wp-block-post-comments.is-style-catch-fse-post-comments .commentlist .comment-body > *:last-child,
.wp-block-post-comments.is-style-catch-fse-post-comments .comment-respond > *:last-child,
.wp-block-post-comments.is-style-catch-fse-post-comments .comment-respond .comment-form > *:last-child,
.wp-block-post-comments.is-style-catch-fse-post-comments .comment-respond .comment-form > P:last-of-type {
  margin-bottom: 0; }

.wp-block-post-comments.is-style-catch-fse-post-comments .comment-author {
  color: var(--wp--preset--color--foreground);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  line-height: var(--wp--custom--typography--line-height--paragraph);
  margin-bottom: 7px; }

.wp-block-post-comments.is-style-catch-fse-post-comments .comment-content {
  margin-top: 20px; }

.wp-block-post-comments.is-style-catch-fse-post-comments .comment-metadata {
  color: var(--wp--preset--color--body-text);
  font-size: var(--wp--preset--font-size--tiny);
  line-height: 1.62; }

.wp-block-post-comments.is-style-catch-fse-post-comments .comment-metadata a {
  text-decoration: none;
  color: var(--wp--preset--color--body-text); }

.wp-block-post-comments.is-style-catch-fse-post-comments .comment-metadata > *:not(:last-child) {
  padding-right: 10px; }

.wp-block-post-comments.is-style-catch-fse-post-comments .reply {
  font-size: var(--wp--preset--font-size--small); }

.wp-block-post-comments.is-style-catch-fse-post-comments .reply a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--wp--custom--typography--font-weight--bold); }

.wp-block-post-comments.is-style-catch-fse-post-comments .comment-respond {
  background-color: var(--wp--preset--color--secondary);
  margin-top: var(--wp--custom--spacing--normal);
  padding-top: var(--wp--custom--spacing--wp-comment-vertical);
  padding-right: var(--wp--custom--spacing--wp-comment-horizontal);
  padding-bottom: var(--wp--custom--spacing--wp-comment-vertical);
  padding-left: var(--wp--custom--spacing--wp-comment-horizontal); }

.wp-block-post-comments.is-style-catch-fse-post-comments .comment-respond .comment-form {
  font-size: var(--wp--preset--font-size--upper-heading); }

.wp-block-post-comments.is-style-catch-fse-post-comments .comment-respond .comment-form a,
.wp-block-post-comments.is-style-catch-fse-post-comments .comment-respond .comment-form .logged-in-as,
.wp-block-post-comments.is-style-catch-fse-post-comments .comment-respond .comment-form .comment-notes,
.wp-block-post-comments.is-style-catch-fse-post-comments .comment-respond .comment-form .comment-form-cookies-consent {
  font-size: var(--wp--preset--font-size--extra-small);
  text-decoration: none; }

.wp-block-post-comments.is-style-catch-fse-post-comments textarea,
.wp-block-post-comments.is-style-catch-fse-post-comments input:not([type="submit"]):not([type="checkbox"]) {
  background-color: var(--wp--preset--color--primary);
  border: 0;
  color: var(--wp--preset--color--body-text); }

.wp-block-post-comments.is-style-catch-fse-post-comments textarea:focus,
.wp-block-post-comments.is-style-catch-fse-post-comments input:not([type="submit"]):not([type="checkbox"]):focus {
  border-color: var(--wp--preset--color--border-color);
  color: var(--wp--preset--color--foreground); }

/* --- WP Block Latest Comments Style
-------------------------------------------------------- */
.wp-block-latest-comments.is-style-catch-fse-latest-comments {
  margin-top: 0;
  padding: 0; }

.wp-block-latest-comments.is-style-catch-fse-latest-comments a {
  text-decoration: none; }

.wp-block-latest-comments.is-style-catch-fse-latest-comments .wp-block-latest-comments__comment {
  border-bottom: 1px solid var(--wp--preset--color--border-color);
  padding-bottom: var(--wp--custom--spacing--normal);
  padding-top: var(--wp--custom--spacing--normal);
  margin-bottom: 0; }

.wp-block-latest-comments.is-style-catch-fse-latest-comments .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt > *:last-child {
  margin-bottom: 0; }

.wp-block-latest-comments.is-style-catch-fse-latest-comments .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt {
  margin-top: 20px; }

.wp-block-latest-comments.is-style-catch-fse-latest-comments .wp-block-latest-comments__comment .wp-block-latest-comments__comment-date {
  margin-top: 7px; }

.wp-block-latest-comments.is-style-catch-fse-latest-comments .wp-block-latest-comments__comment .wp-block-latest-comments__comment-author {
  color: var(--wp--preset--color--foreground);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  line-height: var(--wp--custom--typography--line-height--paragraph); }

/* --- WP Block Quote Style
-------------------------------------------------------- */
.wp-block-quote.is-style-catch-fse-block-quote p {
  color: var(--wp--preset--color--foreground);
  font-size: var(--wp--preset--font-size--content-heading);
  font-weight: var(--wp--custom--typography--font-weight--semi-bold);
  line-height: var(--wp--custom--typography--line-height--paragraph);
  font-style: italic;
  margin-top: 0; }

.wp-block-quote.is-style-catch-fse-block-quote,
.wp-block-quote.is-style-catch-fse-block-quote.has-text-align-left,
.wp-block-quote.is-style-catch-fse-block-quote.has-text-align-right,
.wp-block-quote.is-style-catch-fse-block-quote.has-text-align-center {
  border: 0;
  position: relative;
  padding: 75px 0 0 0; }

.wp-block-quote.is-style-catch-fse-block-quote:before {
  color: var(--wp--preset--color--text-link);
  content: "\201C";
  display: block;
  float: left;
  font-family: Georgia;
  font-size: 84px;
  font-size: 5.25rem;
  font-style: normal;
  font-weight: var(--wp--custom--typography--font-weight--bold);
  height: 0;
  line-height: var(--wp--custom--typography--line-height--normal);
  position: absolute;
  margin-top: 5px;
  top: 0; }

.wp-block-quote.is-style-catch-fse-block-quote.has-text-align-left:before {
  left: unset;
  transform: none; }

.wp-block-quote.is-style-catch-fse-block-quote.has-text-align-right:before {
  left: unset;
  right: 0; }

.wp-block-quote.is-style-catch-fse-block-quote.has-text-align-center:before {
  left: 50%;
  transform: translateX(-50%); }

.wp-block-quote.is-style-catch-fse-block-quote cite,
.wp-block-quote.is-style-catch-fse-block-quote footer {
  font-size: var(--wp--preset--font-size--small); }

.wp-block-quote.is-style-catch-fse-block-quote.is-style-large,
.wp-block-quote.is-style-catch-fse-block-quote.is-large {
  color: var(--wp--preset--color--foreground); }

/* --- WP Block Pullquote Style
-------------------------------------------------------- */
.wp-block-pullquote.is-style-catch-fse-pullquote {
  border-bottom-color: var(--wp--preset--color--text-link);
  border-top-color: var(--wp--preset--color--text-link);
  padding: 1.75em 0; }

.wp-block-pullquote.is-style-catch-fse-pullquote blockquote {
  margin: 0; }

.wp-block-pullquote.is-style-catch-fse-pullquote p {
  color: var(--wp--preset--color--foreground);
  font-size: var(--wp--preset--font-size--content-heading);
  font-weight: var(--wp--custom--typography--font-weight--semi-bold);
  line-height: var(--wp--custom--typography--line-height--paragraph);
  font-style: italic;
  margin-top: 0; }

.wp-block-pullquote.is-style-catch-fse-pullquote cite,
.wp-block-pullquote.is-style-catch-fse-pullquote footer,
.wp-block-pullquote.is-style-catch-fse-pullquote .wp-block-pullquote__citation {
  font-size: var(--wp--preset--font-size--small);
  text-transform: none; }

.wp-block-pullquote.is-style-catch-fse-pullquote.alignleft,
.wp-block-pullquote.is-style-catch-fse-pullquote.alignright,
.wp-block[data-align="left"] .wp-block-pullquote.is-style-catch-fse-pullquote,
.wp-block[data-align="right"] .wp-block-pullquote.is-style-catch-fse-pullquote {
  border-bottom: 0;
  border-top: 0; }

.wp-block-pullquote.is-style-catch-fse-pullquote.alignleft,
.wp-block[data-align="left"] .wp-block-pullquote.is-style-catch-fse-pullquote {
  border-left: 0.25em solid var(--wp--preset--color--text-link);
  padding: 0 0 0 1.75em; }

.wp-block-pullquote.is-style-catch-fse-pullquote.alignright,
.wp-block[data-align="right"] .wp-block-pullquote.is-style-catch-fse-pullquote {
  border-right: 0.25em solid var(--wp--preset--color--text-link);
  padding: 0 1.75em 0 0; }

/* --- WP Block Table Style
-------------------------------------------------------- */
.wp-block-table.is-style-catch-fse-wp-table td,
.wp-block-table.is-style-catch-fse-wp-table th {
  border-color: var(--wp--preset--color--border-color);
  padding: 0.5em 1.4em; }

.wp-block-table.is-style-catch-fse-wp-table th:not(.has-text-align-left):not(.has-text-align-right):not(.has-text-align-center) {
  text-align: left; }

.wp-block-table.is-style-catch-fse-wp-table thead {
  border-bottom-color: var(--wp--preset--color--border-color); }

.wp-block-table tfoot {
  border-top-color: var(--wp--preset--color--border-color); }

.wp-block-table.is-style-catch-fse-wp-table th {
  font-weight: var(--wp--custom--typography--font-weight--semi-bold);
  color: var(--wp--preset--color--foreground); }

.wp-block-table.is-style-catch-fse-wp-table table {
  border: 1px solid var(--wp--preset--color--border-color); }

.wp-block-table.is-style-catch-fse-wp-table td {
  border-bottom: 0;
  border-top: 0; }

/* --- WP Block Preformatted and Verse Style
-------------------------------------------------------- */
.wp-block-preformatted.is-style-catch-fse-wp-preformatted,
.wp-block-verse.is-style-catch-fse-wp-verse {
  background-color: var(--wp--preset--color--secondary);
  box-sizing: border-box;
  font-family: 'Courier Prime', monospace;
  padding: var(--wp--custom--spacing--extra-small);
  overflow: auto;
  word-wrap: break-word; }

/* --- 3
-------------------------------------------------------- */
/* --- Theme Style
-------------------------------------------------------- */
a,
.content > .video-play:hover span,
.content > .video-play svg,
a svg.icon,
.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor,
.wp-block-post-featured-image img,
.wp-block-fse-pro-header-search svg,
.wp-block-fse-pro-header-social svg {
  transition: all 0.5s ease; }

.wp-block-group.wp-block-section .wp-block-group-heading {
  margin-bottom: var(--wp--custom--spacing--wp-comment-vertical); }

.wp-block-image {
  margin-bottom: 1.5em;
  margin-top: var(--wp--style--block-gap, 2em); }

.wp-block-columns > .wp-block-column {
  margin-bottom: var(--wp--style--block-gap, 2em); }

.wp-block-columns > .wp-block-column:last-child {
  margin-bottom: 0; }

.wp-site-blocks main {
  padding-bottom: var(--wp--custom--spacing--main-block-gap);
  padding-top: var(--wp--custom--spacing--main-block-gap); }

.error404 main .wp-block-search,
.single.post-template-default main .wp-block-template-part {
  margin-bottom: 1.75em; }

.wp-block-table,
.wp-block-audio,
.wp-block-pullquote {
  margin-top: var(--wp--style--block-gap); }

.wp-block-latest-posts li a {
  text-decoration: none; }

.wp-block-latest-posts.is-grid li {
  margin-bottom: 0; }

.wp-block-categories__list a,
.wp-block-categories-list a,
.wp-block-archives-list a {
  text-decoration: none; }

.wp-block-section .wp-block-columns .wp-block-columns {
  margin-bottom: 0; }

.no-margin-top {
  margin-top: 0; }

.is-stacked-on-mobile .wp-block-media-text__media {
  margin-bottom: 28px; }

body.page-template-blank .wp-site-blocks main {
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0; }

.page-template-front .wp-site-blocks main {
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0; }

/* For case study mobile view */
@media (min-width: 600px) and (max-width: 781px) {
  .wp-block-columns.case-study-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:only-child) {
    flex-basis: 50% !important; } }
/* --- WP Block Header
-------------------------------------------------------- */
header .wp-block-buttons .is-style-outline > :where(.wp-block-button__link),
header .wp-block-buttons :where(.wp-block-button__link).is-style-outline {
  padding: 9px 21px; }

header .wp-block-buttons .wp-block-button__link {
  margin-top: 0; }

/* --- WP Block Site title Style
-------------------------------------------------------- */
.wp-block-site-title a {
  text-decoration: none; }

/* --- WP Block Navigation Main
-------------------------------------------------------- */
.wp-block-navigation .wp-block-navigation-item a:hover,
.wp-block-navigation .wp-block-navigation-item a:focus {
  text-decoration: none; }

.wp-block-buttons-header .wp-block-buttons .wp-block-button .wp-block-button__link {
  margin-top: 0; }

.wp-block-navigation .wp-block-navigation__submenu-container {
  padding: 7px 0; }

.wp-block-navigation .wp-block-navigation__submenu-container a {
  font-size: var(--wp--preset--font-size--tiny);
  font-weight: var(--wp--custom--typography--font-weight--semi-bold); }

.wp-block-centered-menu .wp-block-navigation {
  text-align: center; }

/* --- WP Block Button
-------------------------------------------------------- */
.wp-block-query-pagination-previous,
.wp-block-query-pagination-next,
.wp-block-post-template .wp-block-post-container .wp-block-post-excerpt .wp-block-post-excerpt__more-link,
input[type="button"],
input[type="reset"],
input[type="submit"],
.tnp-subscription-minimal form input.tnp-submit {
  background: var(--wp--preset--gradient--horizontal-rose-to-bean-red);
  border: 0;
  border-radius: 28px;
  color: var(--wp--preset--color--color-light);
  cursor: pointer;
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  line-height: var(--wp--custom--typography--line-height--paragraph);
  padding-top: max(0.7rem, 0.75vw);
  padding-right: max(1.5rem, 1.85vw);
  padding-bottom: max(0.7rem, 0.75vw);
  padding-left: max(1.5rem, 1.85vw);
  text-transform: uppercase;
  text-decoration: none; }

.wp-block-query-pagination-previous:hover, .wp-block-query-pagination-previous:focus,
.wp-block-query-pagination-next:hover,
.wp-block-query-pagination-next:focus,
.wp-block-post-template .wp-block-post-container .wp-block-post-excerpt .wp-block-post-excerpt__more-link:hover,
.wp-block-post-template .wp-block-post-container .wp-block-post-excerpt .wp-block-post-excerpt__more-link:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.90; }

.is-style-outline > :where(.wp-block-button__link),
:where(.wp-block-button__link).is-style-outline {
  border: 1px solid; }

.wp-block-button__link,
.tnp-subscription-minimal form input.tnp-submit {
  transition: all .3s ease-in-out; }

.wp-block-button__link:hover,
.wp-block-button__link:focus,
.wp-block-query-pagination-previous:hover,
.wp-block-query-pagination-previous:focus,
.wp-block-query-pagination-next:hover,
.wp-block-query-pagination-next:focus,
.wp-block-post-template .wp-block-post-container .wp-block-post-excerpt .wp-block-post-excerpt__more-link:hover,
.wp-block-post-template .wp-block-post-container .wp-block-post-excerpt .wp-block-post-excerpt__more-link:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.tnp-subscription-minimal form input.tnp-submit:hover,
.tnp-subscription-minimal form input.tnp-submit:focus {
  border-color: transparent;
  background: var(--wp--preset--gradient--horizontal-bean-red-to-rose);
  color: var(--wp--preset--color--color-light);
  opacity: 1; }

/* --- WP Block Mobile Toggle Icon
-------------------------------------------------------- */
.wp-block-navigation__responsive-container-open svg,
.wp-block-navigation__responsive-container-close svg {
  height: 28px;
  width: 28px; }

.wp-block-navigation__responsive-container-open,
.wp-block-navigation__responsive-container-close {
  padding: 7px; }

/* --- WP Block Query Pagination
-------------------------------------------------------- */
.wp-block-query-pagination > .wp-block-query-pagination-numbers {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.wp-block-query-pagination-numbers .page-numbers {
  background-color: var(--wp--preset--color--secondary);
  box-sizing: border-box;
  display: inline-block;
  border: 0;
  color: var(--wp--preset--color--body-text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--wp--preset--font-size--upper-heading);
  height: var(--wp--custom--spacing--wp-block-page-numbers);
  line-height: var(--wp--custom--typography--line-height--heading-four);
  margin-right: 7px;
  margin-bottom: 7px;
  text-decoration: none;
  text-align: center;
  width: var(--wp--custom--spacing--wp-block-page-numbers); }

.wp-block-query-pagination-numbers .page-numbers:not(.dots):hover,
.wp-block-query-pagination-numbers .page-numbers:not(.dots):focus,
.wp-block-query-pagination-numbers .page-numbers:not(.dots).current {
  color: var(--wp--preset--color--color-light);
  background: var(--wp--preset--gradient--horizontal-rose-to-bean-red); }

/* --- WP Block Post Terms( WP Block Post Meta)
-------------------------------------------------------- */
.taxonomy-category.wp-block-post-terms > a,
.taxonomy-post_tag.wp-block-post-terms > a,
.wp-block-post-date a {
  color: var(--wp--preset--color--body-text);
  text-decoration: none; }

.single .taxonomy-category.wp-block-post-terms > a,
.single .taxonomy-post_tag.wp-block-post-terms > a {
  background-color: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--foreground);
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 7px;
  padding: 4px 14px; }

.single .taxonomy-category.wp-block-post-terms > .wp-block-post-terms__separator,
.single .taxonomy-post_tag.wp-block-post-terms > .wp-block-post-terms__separator {
  display: none; }

/* --- WP Block Post Navigation Link
-------------------------------------------------------- */
.wp-block-post-navigation-link .post-navigation-link__label {
  display: block;
  font-size: var(--wp--preset--font-size--extra-small);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  line-height: var(--wp--custom--typography--line-height--extra-small);
  text-transform: uppercase; }

.post-navigation-link-next {
  margin-top: 21px; }

.wp-block-post-navigation-link a {
  text-decoration: none; }

.wp-block-navigation .wp-block-navigation__submenu-icon {
  color: var(--wp--preset--color--body-text); }

.wp-block-navigation .wp-block-navigation__submenu-icon {
  margin-right: 7px; }

/* --- WP Block Post Template(wp-block-post)
-------------------------------------------------------- */
.wp-block-post-title a {
  text-decoration: none; }

body > .is-root-container .wp-block-post-template > li .wp-block-post-container,
body .wp-block-post-template > li .wp-block-post-container {
  background-color: var(--wp--preset--color--secondary);
  margin-top: 0;
  padding: var(--wp--custom--spacing--wp-post); }

.wp-block-post-template .wp-block-post-meta > * {
  align-items: center; }

svg.icon {
  fill: var(--wp--preset--color--body-text);
  height: 14px;
  margin-right: 7px;
  width: 14px;
  position: relative;
  top: 2px; }

.post-navigation-link-next svg.icon {
  padding-left: 7px;
  padding-right: 0; }

a svg.icon {
  fill: var(--wp--preset--color--foreground); }

.wp-block-post-excerpt > *:last-child {
  margin-bottom: 0; }

.wp-block-post-excerpt__more-link {
  margin-top: 8px; }

.wp-block-post-template > li {
  margin-bottom: var(--wp--custom--spacing--wp-comment-horizontal); }

.wp-block-post-featured-image {
  overflow: hidden; }

.wp-block-post-featured-image:hover img {
  transform: scale(1.05); }

.wp-block-post-author {
  text-transform: capitalize; }

/* --- WP Block Quote
-------------------------------------------------------- */
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer,
.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer {
  text-align: left; }

.wp-block-quote.has-text-align-left.is-style-large cite,
.wp-block-quote.has-text-align-left.is-style-large footer,
.wp-block-quote.has-text-align-left.is-large cite,
.wp-block-quote.has-text-align-left.is-large footer {
  text-align: left; }

.wp-block-quote.has-text-align-right.is-style-large cite,
.wp-block-quote.has-text-align-right.is-style-large footer,
.wp-block-quote.has-text-align-right.is-large cite,
.wp-block-quote.has-text-align-right.is-large footer {
  text-align: right; }

.wp-block-quote.has-text-align-center.is-style-large cite,
.wp-block-quote.has-text-align-center.is-style-large footer,
.wp-block-quote.has-text-align-center.is-large cite,
.wp-block-quote.has-text-align-center.is-large footer {
  text-align: center; }

.wp-block-quote.is-style-plain,
.wp-block-quote.is-style-large,
.wp-block-quote.is-large {
  padding: 0; }

.wp-block-quote.is-style-large p,
.wp-block-quote.is-large p {
  color: var(--wp--preset--color--foreground);
  font-weight: var(--wp--custom--typography--font-weight--semi-bold); }

.wp-block-quote.is-style-plain {
  color: var(--wp--preset--color--foreground); }

/* --- WP Block Table
-------------------------------------------------------- */
.wp-block-table.is-style-stripes tbody tr:nth-child(2n+1) {
  background-color: var(--wp--preset--color--secondary); }

.wp-block-table.is-style-stripes {
  border-bottom: 0; }

.wp-block-table.is-style-stripes thead {
  border: 0;
  color: var(--wp--preset--color--foreground); }

.wp-block-table.is-style-stripes td,
.wp-block-table.is-style-stripes th {
  padding: 0.5em 1.4em; }

.wp-block-table.is-style-stripe th:not(.has-text-align-left):not(.has-text-align-right):not(.has-text-align-center) {
  text-align: left; }

/* --- WP Block Search
-------------------------------------------------------- */
.wp-block-search {
  background-color: var(--wp--preset--color--secondary);
  box-sizing: border-box;
  padding: 14px; }

.wp-block-search .wp-block-search__input {
  background-color: var(--wp--preset--color--background);
  border: 0;
  color: var(--wp--preset--color--body-text);
  padding: 10px 14px; }

.wp-block-search__input:focus {
  color: var(--wp--preset--color--foreground); }

.wp-block-search__button {
  background-color: var(--wp--preset--color--background);
  color: var(--wp--preset--color--foreground);
  cursor: pointer;
  padding: 10px 20px; }

/* --- WP Block Form and Input Fields
-------------------------------------------------------- */
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
  background-color: var(--wp--preset--color--secondary);
  border-radius: 0;
  border: 0;
  color: var(--wp--preset--color--body-text);
  padding: calc(0.667em + 2px);
  font-size: var(--wp--preset--font-size--upper-heading);
  line-height: var(--wp--custom--typography--line-height--heading-six);
  font-weight: var(--wp--custom--typography--font-weight--normal);
  width: 100%;
  box-sizing: border-box;
  outline-offset: -2px; }

input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: var(--wp--preset--color--border-color);
  color: var(--wp--preset--color--foreground); }

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  padding: 10px;
  border-color: var(--wp--preset--color--border-color); }

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
  padding: calc(0.667em + 2px); }

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button {
  padding: 10px 20px; }

/* --- WP Block Contact Form 7
-------------------------------------------------------- */
.wpcf7-form input[type="date"],
.wpcf7-form input[type="time"],
.wpcf7-form input[type="datetime-local"],
.wpcf7-form input[type="week"],
.wpcf7-form input[type="month"],
.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form input[type="url"],
.wpcf7-form input[type="password"],
.wpcf7-form input[type="search"],
.wpcf7-form input[type="tel"],
.wpcf7-form input[type="number"],
.wpcf7-form textarea {
  border-radius: 28px;
  resize: none; }

.wpcf7-form .two-col .wp-block-col,
.wpcf7-form > p {
  margin-top: 14px; }

.wpcf7-form .wpcf7-form-control-wrap {
  display: block;
  margin-top: 14px; }

.wpcf7-form label {
  display: block;
  font-size: var(--wp--preset--font-size--extra-small);
  color: var(--wp--preset--color--foreground);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  line-height: var(--wp--custom--typography--line-height--heading-four);
  text-transform: uppercase; }

/* --- WP Block Embed
-------------------------------------------------------- */
.wp-block-embed {
  margin-top: var(--wp--style--block-gap); }

/* --- WP Block Image
-------------------------------------------------------- */
.wp-block-image .alignleft {
  margin-right: 2em; }

.wp-block-image .alignright {
  margin-left: 2em; }

/* --- Block Widget
-------------------------------------------------------- */
.wp-block-widget-area * {
  font-size: var(--wp--preset--font-size--upper-heading);
  line-height: var(--wp--custom--typography--line-height--heading-six);
  font-weight: var(--wp--custom--typography--font-weight--normal); }

.wp-block-widget-area a {
  text-decoration: none; }

.wp-block-widget-area h2 {
  font-size: var(--wp--preset--font-size--medium);
  line-height: var(--wp--custom--typography--line-height--paragraph);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  text-transform: uppercase; }

.wp-block-tag-cloud > a {
  display: inline-block;
  margin-bottom: 7px;
  padding: 4px 14px;
  text-decoration: none; }

.wp-block-widget-area ul {
  list-style: none;
  padding-left: 0; }

.wp-block-widget-area li {
  margin-bottom: 14px; }

.wp-block-widget-area li:before,
.wp-block-widget-area li:after {
  content: "";
  display: table;
  table-layout: fixed; }

.wp-block-widget-area li:after {
  clear: both; }

.wp-block-column-sidebar .wp-block-archives-list > li,
.wp-block-column-sidebar .wp-block-categories-list > li {
  text-align: right; }

.wp-block-archives-list > li > a,
.wp-block-categories-list > li > a {
  float: left; }

ul.wp-block-archives,
.wp-block-categories ul {
  padding-left: 1em; }

/* --- Block Widget Sidebar
-------------------------------------------------------- */
.wp-block-sidebar > *:not(:last-child) {
  margin-bottom: var(--wp--custom--spacing--wp-block-sidebar-widget); }

.wp-block-sidebar > * h2 {
  border-bottom: 1px solid;
  margin-bottom: 20px;
  padding-bottom: 20px; }

.wp-block-sidebar .wp-block-latest-posts__list > li:not(:last-child) {
  border-bottom: 1px solid;
  margin-bottom: 21px;
  padding-bottom: 21px; }

.wp-block-widget-area .wp-block-latest-posts__list > li > a {
  font-weight: var(--wp--custom--typography--font-weight--semi-bold); }

.wp-block-widget-area .wp-block-latest-posts__post-author,
.wp-block-widget-area .wp-block-latest-posts__post-date {
  font-size: var(--wp--preset--font-size--tiny);
  line-height: 1.62;
  margin-top: 5px; }

/* --- Block Footer style
-------------------------------------------------------- */
footer .wp-block-image {
  margin-top: 0; }

footer > * + * {
  margin-block-start: 0 !important; }

.footer-dark .wp-block-footer.wp-block-widget-area {
  background-color: var(--wp--preset--color--tertiary);
  color: var(--wp--preset--color--body-text); }

.footer-dark .wp-block-footer.wp-block-widget-area a {
  color: var(--wp--preset--color--color-light); }

.footer-dark .wp-block-footer.wp-block-widget-area a:hover,
.footer-dark .wp-block-footer.wp-block-widget-area a:focus {
  color: var(--wp--preset--color--text-link); }

.footer-dark .wp-block-footer.wp-block-site-generator {
  background-color: var(--wp--preset--color--color-dark);
  color: var(--wp--preset--color--body-text); }

.footer-dark .wp-block-footer.wp-block-site-generator a {
  color: var(--wp--preset--color--body-text); }

.footer-dark .wp-block-footer.wp-block-site-generator a:hover,
.footer-dark .wp-block-footer.wp-block-site-generator a:focus {
  color: var(--wp--preset--color--color-light); }

.footer-dark .wp-block-footer.wp-block-site-generator .wp-block-navigation__responsive-container-open,
.footer-dark .wp-block-footer.wp-block-site-generator .wp-block-navigation__responsive-container-close,
.footer-dark .wp-block-footer.wp-block-site-generator .wp-block-navigation .current-menu-item .wp-block-navigation-item__content,
.footer-dark .wp-block-footer.wp-block-site-generator .wp-block-navigation .wp-block-navigation-item__content:hover,
.footer-dark .wp-block-footer.wp-block-site-generator .wp-block-navigation .wp-block-navigation-item__content:focus {
  color: var(--wp--preset--color--color-light); }

.footer-dark h1,
.footer-dark h2,
.footer-dark h3,
.footer-dark h4,
.footer-dark h5,
.footer-dark h6 {
  color: var(--wp--preset--color--color-light); }

.footer-dark .wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container,
.footer-dark .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
  background-color: var(--wp--preset--color--woodsmoke); }

/* --- Block Navigation Footer
-------------------------------------------------------- */
.wp-block-footer.wp-block-site-generator .wp-block-navigation {
  font-size: var(--wp--preset--font-size--extra-small);
  font-weight: var(--wp--custom--typography--font-weight--normal);
  line-height: var(--wp--custom--typography--line-height--heading-four);
  text-transform: inherit; }

.wp-block-footer .wp-block-navigation .wp-block-navigation-item__content {
  text-transform: capitalize; }

.wp-block-footer .wp-block-navigation .wp-block-navigation__submenu-container a {
  font-weight: var(--wp--custom--typography--font-weight--normal); }

/* --- Block Widget Footer
-------------------------------------------------------- */
.wp-block-footer-widget-area-columns {
  margin-bottom: 0;
  padding-bottom: var(--wp--custom--spacing--wp-footer-vertical);
  padding-top: var(--wp--custom--spacing--wp-footer-vertical); }

.wp-block-footer.wp-block-site-generator {
  font-size: var(--wp--preset--font-size--extra-small);
  padding-bottom: 28px;
  padding-top: 28px; }

.wp-block-footer.wp-block-site-generator a {
  text-decoration: none; }

.wp-block-footer .wp-block-widget:not(:last-child),
.wp-block-footer .wp-block-widget > *:not(:last-child),
.wp-block-footer .wp-block-latest-posts__list > li:not(:last-child) {
  margin-bottom: var(--wp--custom--spacing--extra-small); }

.wp-block-widget-area .wp-block-widget figure {
  line-height: 0;
  margin-bottom: 0; }

/* --- WP Block Sections
-------------------------------------------------------- */
.wp-block-section {
  padding-bottom: var(--wp--custom--spacing--section-block-top);
  padding-top: var(--wp--custom--spacing--section-block-top); }

.wp-block-section.is-style-catch-fse-padding-0 {
  padding-bottom: 0;
  padding-top: 0; }

.wp-block-section + .wp-block-section,
.page-template-blank .wp-site-blocks footer,
.page-template-front .wp-site-blocks footer {
  margin-top: 0; }

/* --- Drop Cap
-------------------------------------------------------- */
.has-drop-cap:not(:focus)::first-letter {
  color: var(--wp--preset--color--foreground);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  margin: 0.15em 0.15em 0 -0.07em;
  font-size: 5em; }

/* --- WP Block Image
-------------------------------------------------------- */
.wp-block-image figure.alignright,
.wp-block-image figure.alignleft,
.wp-block[data-align="left"] .wp-block-image,
.wp-block[data-align="right"] .wp-block-image,
.wp-block-cover.alignleft,
.wp-block-cover.alignright,
.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright,
.wp-block[data-align="left"] > .wp-block-pullquote,
.wp-block[data-align="right"] > .wp-block-pullquote,
[data-align="left"] > .wp-block-cover,
[data-align="right"] > .wp-block-cover,
.wp-block-embed.alignleft,
.wp-block-embed.alignright,
.wp-block[data-align="left"] > .wp-block-embed,
.wp-block[data-align="right"] > .wp-block-embed {
  max-width: 320px;
  width: 100%; }

.wp-block-cover.alignleft,
.wp-block-pullquote.alignleft,
.wp-block[data-align="left"] > .wp-block-pullquote,
[data-align="left"] > .wp-block-cover,
.wp-block-embed.alignleft,
.wp-block[data-align="left"] > .wp-block-embed {
  margin-right: 2em !important;
  margin-bottom: 1.5em; }

.wp-block-cover.alignright,
.wp-block-pullquote.alignright,
.wp-block[data-align="right"] > .wp-block-pullquote,
[data-align="right"] > .wp-block-cover,
.wp-block-embed.alignright,
.wp-block[data-align="right"] > .wp-block-embed {
  margin-left: 2em !important;
  margin-bottom: 1.5em; }

/* --- WP Block Code
-------------------------------------------------------- */
.wp-block-code > code {
  color: var(--wp--preset--color--body-text);
  border-color: var(--wp--preset--color--border-color); }

/* --- WP Block Firgcaption
-------------------------------------------------------- */
.wp-site-blocks figure figcaption,
figure figcaption {
  color: var(--wp--preset--color--body-text);
  font-size: var(--wp--preset--font-size--medium);
  line-height: var(--wp--custom--typography--line-height--paragraph);
  font-style: italic; }

/* --- WP Block Calendar
-------------------------------------------------------- */
.wp-block-calendar table th {
  border-color: var(--wp--preset--color--border-color);
  background-color: var(--wp--preset--color--secondary); }

.wp-block-calendar th,
.wp-block-calendar tbody td {
  border-color: var(--wp--preset--color--border-color); }

.wp-block-calendar tbody td#today {
  color: var(--wp--preset--color--foreground);
  font-weight: var(--wp--custom--typography--font-weight--semi-bold); }

.wp-block-calendar table caption {
  color: var(--wp--preset--color--foreground);
  margin-bottom: 7px; }

/* --- WP Block Header Search and Social (Toggle)
-------------------------------------------------------- */
.wp-block-main-header {
  position: relative; }

.wp-block-fse-pro-header-search .search-container,
.wp-block-fse-pro-header-social .social-container {
  background: var(--wp--preset--color--secondary); }

.wp-block-fse-pro-header-search .wp-block-search__input {
  background: var(--wp--preset--color--background); }

.wp-block-fse-pro-header-search svg,
.wp-block-fse-pro-header-social svg {
  fill: var(--wp--preset--color--body-text); }

.wp-block-fse-pro-header-search svg:hover,
.wp-block-fse-pro-header-search svg:focus,
.wp-block-fse-pro-header-social svg:hover,
.wp-block-fse-pro-header-social svg:focus {
  fill: var(--wp--preset--color--foreground); }

.wp-block-fse-pro-header-search .search-controller,
.wp-block-fse-pro-header-social .social-controller {
  padding: 10px 5px; }

.wp-block-fse-pro-header-search .wp-block-search {
  padding: 0; }

.wp-block-fse-pro-header-search .search-container,
.wp-block-fse-pro-header-social .social-container {
  animation: smoothScrollBack .6s backwards, fadein .6s; }

@keyframes smoothScrollBack {
  0% {
    transform: translateY(30px); }
  100% {
    transform: translateY(0px); } }
/* Fadein For Menu */
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* --- WP Block Slider
-------------------------------------------------------- */
.fse-slider-wrapper {
  overflow: hidden;
  position: relative; }

.fse-slider-wrapper .tns-outer {
  position: relative; }

.fse-slider-wrapper .wp-block-image {
  position: relative;
  text-align: center; }

.fse-slider-wrapper .wp-block-image figcaption {
  bottom: 55px;
  color: var(--wp--preset--color--color-light);
  font-size: var(--wp--preset--font-size--content-heading);
  left: 50%;
  margin: 0 auto;
  max-width: 760px;
  opacity: 0;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  transform-origin: top;
  visibility: hidden;
  width: 100%;
  transition: all 0.5s ease;
  padding: 15px;
  box-sizing: border-box; }

.fse-slider-wrapper .tns-item.tns-slide-active .wp-block-image figcaption {
  opacity: 1;
  transition-delay: 0.2s;
  visibility: visible; }

/* Sliding Testimonial */
.sliding-testimonial {
  max-width: 600px; }

/* Nan Arrows */
.tns-control > button {
  background: var(--wp--preset--color--border-color);
  border: 0;
  color: var(--wp--preset--color--foreground);
  cursor: pointer;
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  line-height: var(--wp--custom--typography--line-height--paragraph);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: all 0.5s ease;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.tns-control > button.tns-prev {
  left: -50px; }

.tns-control > button.tns-next {
  right: -50px; }

.tns-control > button > span {
  display: none; }

.tns-control > button:before {
  content: "";
  display: inline-block;
  color: inherit;
  opacity: 1;
  width: 0.6rem;
  height: 0.6rem;
  border-style: solid;
  border-color: currentColor;
  border-width: 0.2rem 0.2rem 0 0; }

.tns-control > button.tns-prev:before {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-left: 4px; }

.tns-control > button.tns-next:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: 4px; }

.tns-control > button:hover,
.tns-control > button:focus {
  background: var(--wp--preset--color--text-link);
  color: var(--wp--preset--color--foreground); }

/* Nav Dots */
.tns-nav > button {
  border: 0;
  background-color: var(--wp--preset--color--border-color);
  height: 10px;
  line-height: 10px;
  margin: 0 4px;
  width: 10px;
  border-radius: 100%;
  box-shadow: none;
  position: relative;
  transition: all 0.5s ease;
  padding: 0; }

.tns-nav > button:hover,
.tns-nav > button:focus {
  background-color: var(--wp--preset--color--foreground); }

.tns-nav > button.tns-nav-active {
  background-color: var(--wp--preset--color--foreground); }

.tns-nav {
  line-height: 0;
  text-align: center; }

/* Dots Positions */
.fse-slider-wrapper.horizontal-inside-slider-bottom-left .tns-nav,
.fse-slider-wrapper.horizontal-inside-slider-bottom-center .tns-nav,
.fse-slider-wrapper.horizontal-inside-slider-bottom-right .tns-nav {
  bottom: 28px;
  position: absolute;
  width: 100%; }

.fse-slider-wrapper.horizontal-inside-slider-bottom-left .tns-nav {
  text-align: left;
  left: 28px; }

.fse-slider-wrapper.horizontal-inside-slider-bottom-center .tns-nav {
  text-align: center; }

.fse-slider-wrapper.horizontal-inside-slider-bottom-right .tns-nav {
  text-align: right;
  right: 28px; }

.fse-slider-wrapper.horizontal-outside-slider-bottom-left .tns-nav,
.fse-slider-wrapper.horizontal-outside-slider-bottom-center .tns-nav,
.fse-slider-wrapper.horizontal-outside-slider-bottom-right .tns-nav {
  margin-top: 28px; }

.fse-slider-wrapper.horizontal-outside-slider-bottom-left .tns-nav {
  margin-left: 28px;
  text-align: left; }

.fse-slider-wrapper.horizontal-outside-slider-bottom-center .tns-nav {
  text-align: center; }

.fse-slider-wrapper.horizontal-outside-slider-bottom-right .tns-nav {
  margin-right: 28px;
  text-align: right; }

/* --- WP Block The Newsletter Plugin
-------------------------------------------------------- */
.site-newsletter {
  text-align: center; }

.site-newsletter .tnp-subscription-minimal {
  margin-top: 35px; }

.tnp-subscription-minimal form input.tnp-submit {
  font-family: var(--wp--preset--font-family--open-sans);
  border-radius: 28px;
  display: block;
  width: auto;
  margin: 28px auto 0 auto; }

.tnp-subscription-minimal form input.tnp-email {
  background-color: var(--wp--preset--color--background);
  border-color: transparent;
  max-width: 100%;
  padding: 18px;
  line-height: 17.04px;
  font-family: var(--wp--preset--font-family--open-sans);
  color: var(--wp--preset--color--body-text);
  width: 100%;
  display: block;
  border-radius: 28px; }

.tnp-subscription-minimal form input.tnp-email:focus {
  color: var(--wp--preset--color--foreground); }

/* --- 4
-------------------------------------------------------- */
/* --- Block Woo-Commerce
-------------------------------------------------------- */
/* Styles for Product Listing Page */
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link,
.wp-block-button.wc-block-components-product-button .wc-block-components-product-button__button,
.woocommerce a.added_to_cart.wc-forward {
  background: transparent;
  border: 1px solid var(--wp--preset--color--body-text);
  border-radius: 28px;
  color: var(--wp--preset--color--body-text);
  cursor: pointer;
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  line-height: var(--wp--custom--typography--line-height--paragraph);
  padding: 9px 21px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center; }

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link,
.wp-block-button.wc-block-components-product-button .wc-block-components-product-button__button,
.woocommerce a.added_to_cart.wc-forward {
  transition: all .3s ease-in-out; }

.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit:focus,
.woocommerce a.button:hover,
.woocommerce a.button:focus,
.woocommerce button.button:hover,
.woocommerce button.button:focus,
.woocommerce input.button:hover,
.woocommerce input.button:focus,
.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link:hover,
.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link:focus,
.wp-block-button.wc-block-components-product-button .wc-block-components-product-button__button:hover,
.wp-block-button.wc-block-components-product-button .wc-block-components-product-button__button:focus,
.woocommerce a.added_to_cart.wc-forward:hover,
.woocommerce a.added_to_cart.wc-forward:focus {
  border-color: transparent;
  background: var(--wp--preset--color--border-color);
  color: var(--wp--preset--color--color-light);
  opacity: 1; }

.woocommerce a.added_to_cart.wc-forward {
  margin-top: 10px; }

.wc-block-grid__product {
  text-align: left; }

.wc-block-components-product-image {
  margin-bottom: 28px; }

.wc-block-grid__product .wc-block-grid__product-title,
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
  font-size: var(--wp--custom--typography--font-size--heading-five);
  font-weight: 600;
  line-height: var(--wp--custom--typography--line-height--heading-four);
  transition: all .3s ease-in-out; }

.woocommerce ul.products li.product a:hover .woocommerce-loop-product__title {
  color: var(--wp--preset--color--text-link); }

.wc-block-components-product-title a,
.wc-block-components-product-price__value,
.woocommerce ul.products li.product .price {
  color: var(--wp--preset--color--foreground);
  text-decoration: none; }

.wp-block-button.wc-block-components-product-button,
.wc-block-grid__product .wc-block-grid__product-rating {
  display: block;
  clear: both; }

.wc-block-grid__product-rating .star-rating,
.wc-block-components-product-rating__stars,
.wc-block-grid__product-rating .wc-block-grid__product-rating__stars {
  margin: 0 auto 0 0; }

.wp-block-button.wc-block-components-product-button:before {
  content: '';
  display: table;
  table-layout: fixed;
  width: 100%; }

.wp-block-button.wc-block-components-product-button:after {
  clear: both; }

.wc-block-grid__product .wc-block-grid__product-title,
.wc-block-grid__product .wc-block-grid__product-price,
.wc-block-grid__product .wc-block-grid__product-rating {
  margin-bottom: 28px; }

.wc-block-grid__product-rating {
  color: inherit; }

.wc-block-grid__product {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent; }

.wc-block-grid__products {
  margin: 0 -15px 15px; }

.wc-block-components-product-sale-badge,
.woocommerce span.onsale,
.wc-block-grid__product-onsale {
  background-color: var(--wp--preset--color--text-link);
  color: var(--wp--preset--color--color-light);
  font-size: 0.7em;
  padding: 0.5em 1em;
  border: 0;
  line-height: 1.5;
  text-transform: uppercase;
  min-height: auto;
  min-width: auto;
  font-weight: 600;
  border-radius: 3px; }

.woocommerce span.onsale {
  top: 4px;
  left: 4px;
  margin: 0; }

.woocommerce ul.products li.product .onsale {
  left: auto;
  right: 4px;
  top: 4px;
  margin: 0; }

.wc-block-components-product-price__value,
.woocommerce ul.products li.product .price {
  font-size: var(--wp--custom--typography--font-size--heading-five); }

.wc-block-mini-cart-items .wc-block-components-product-price__value {
  font-size: inherit; }

.wc-block-grid,
.woocommerce ul.products li.product .price,
.woocommerce ul.products li.product .price del,
.woocommerce ul.products li.product .price ins {
  font-weight: var(--wp--custom--typography--font-weight--semi-bold); }

.wc-block-grid__product-price .wc-block-grid__product-price__regular {
  margin-right: 0;
  font-size: 18px;
  font-size: 1.125rem; }

.wc-block-components-product-sort-select {
  text-align: right;
  margin-bottom: 24px; }

.wc-block-components-sort-select__select,
.wc-block-sort-select__select.wc-block-components-sort-select__select,
.woocommerce .woocommerce-ordering select,
.value #pa_color,
.value #pa_size,
.value #logo {
  background-color: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--foreground);
  padding: 14px;
  border: 0;
  border-color: transparent;
  border-right: 14px solid var(--wp--preset--color--secondary);
  outline: 0;
  font-size: 18px;
  font-size: 1.125rem; }

.wc-block-components-sort-select__select option,
.wc-block-components-product-sort-select option,
.woocommerce .woocommerce-ordering select option,
.value #pa_color option,
.value #pa_size option,
.value #logo option {
  color: var(--wp--preset--color--foreground);
  font-size: 18px;
  font-size: 1.125rem; }

/* Styles for Product Single Page */
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background: var(--wp--preset--gradient--horizontal-rose-to-bean-red);
  border: 0;
  border-radius: 28px;
  color: var(--wp--preset--color--color-light);
  cursor: pointer;
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  line-height: var(--wp--custom--typography--line-height--paragraph);
  padding-top: max(0.7rem, 0.75vw);
  padding-right: max(1.5rem, 1.85vw);
  padding-bottom: max(0.7rem, 0.75vw);
  padding-left: max(1.5rem, 1.85vw);
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s ease-in-out; }

.woocommerce #respond input#submit.alt:hover,
.woocommerce #respond input#submit.alt:focus,
.woocommerce a.button.alt:hover,
.woocommerce a.button.alt:focus,
.woocommerce button.button.alt:hover,
.woocommerce button.button.alt:focus,
.woocommerce input.button.alt:hover,
.woocommerce input.button.alt:focus {
  border-color: transparent;
  background: var(--wp--preset--gradient--horizontal-bean-red-to-rose);
  color: var(--wp--preset--color--color-light);
  opacity: 1; }

.woocommerce div.product form.cart div.quantity {
  margin-right: 10px; }

.woocommerce-review-link,
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins,
.posted_in a {
  text-decoration: none; }

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: var(--wp--preset--color--foreground); }

.woocommerce div.product p.price del,
.woocommerce div.product span.price del {
  font-size: 1.2rem; }

.woocommerce div.product .product_title {
  font-size: var(--wp--custom--typography--font-size--heading-three);
  line-height: var(--wp--custom--typography--line-height--heading-three); }

.woocommerce-review-link {
  font-size: 14px;
  font-size: 0.875rem; }

/* Single Page Tabs */
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  background-color: var(--wp--preset--color--secondary);
  border-color: var(--wp--preset--color--border-color);
  border-radius: 0; }

.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce div.product .woocommerce-tabs .panel {
  background-color: var(--wp--preset--color--primary); }

.woocommerce div.product .woocommerce-tabs ul.tabs:before {
  border-bottom: 1px solid var(--wp--preset--color--border-color); }

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  border-bottom-color: var(--wp--preset--color--primary); }

.woocommerce div.product .woocommerce-tabs ul.tabs {
  margin-bottom: 0;
  padding: 0; }

.woocommerce div.product .woocommerce-tabs .panel {
  padding: 30px; }

.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
  border: 0; }

.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before {
  box-shadow: none; }

.woocommerce-Tabs-panel h2,
.related.products > h2 {
  font-size: var(--wp--custom--typography--font-size--heading-four);
  margin-bottom: 28px; }

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  color: var(--wp--preset--color--body-text); }

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
  color: var(--wp--preset--color--foreground); }

.woocommerce-Tabs-panel p {
  margin-top: 0; }

.woocommerce .woocommerce-product-attributes.shop_attributes {
  border-top: 1px dotted var(--wp--preset--color--border-color);
  text-align: left; }

.woocommerce table.shop_attributes th,
.woocommerce table.shop_attributes td {
  border-bottom: 1px dotted var(--wp--preset--color--border-color);
  padding: 10px 0;
  text-transform: capitalize;
  font-weight: 400; }

.woocommerce table.shop_attributes th p,
.woocommerce table.shop_attributes td p {
  padding: 0; }

.woocommerce table.shop_attributes th {
  color: var(--wp--preset--color--foreground); }

.woocommerce #reviews #comments ol.commentlist li .comment-text {
  border-color: var(--wp--preset--color--border-color); }

.woocommerce-Reviews .commentlist {
  padding-left: 0; }

.woocommerce-Reviews .comment-respond .comment-reply-title {
  color: var(--wp--preset--color--foreground);
  font-size: var(--wp--custom--typography--font-size--heading-five);
  font-weight: 600;
  margin-bottom: 21px;
  display: block; }

.woocommerce-Reviews .comment-form {
  background-color: var(--wp--preset--color--background);
  padding: 25px; }

.woocommerce #review_form #respond textarea {
  height: auto; }

.woocommerce div.product form.cart .variations td,
.woocommerce div.product form.cart .variations th {
  vertical-align: middle;
  text-align: left; }

table.variations {
  color: var(--wp--preset--color--foreground);
  text-transform: capitalize; }

/* Woocommerce Breadcrumb */
.woocommerce .woocommerce-breadcrumb {
  font-size: 14px;
  font-size: 0.875rem; }

.woocommerce .woocommerce-breadcrumb a {
  color: var(--wp--preset--color--foreground);
  text-decoration: none; }

.woocommerce .woocommerce-breadcrumb a:hover,
.woocommerce .woocommerce-breadcrumb a:focus {
  color: var(--wp--preset--color--text-link); }

/* Woocommerce Pagination */
.wc-block-pagination.wc-block-components-pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; }

.wc-block-components-pagination__page,
.wc-block-components-pagination__page:not(.toggle) {
  background-color: var(--wp--preset--color--secondary);
  box-sizing: border-box;
  display: inline-block;
  border: 0;
  color: var(--wp--preset--color--body-text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--wp--preset--font-size--upper-heading);
  height: var(--wp--custom--spacing--wp-block-page-numbers);
  line-height: var(--wp--custom--typography--line-height--heading-four);
  margin-right: 7px;
  margin-bottom: 7px;
  text-decoration: none;
  text-align: center;
  width: var(--wp--custom--spacing--wp-block-page-numbers);
  cursor: pointer;
  transition: all .3s ease-in-out; }

.wc-block-components-pagination__page:hover,
.wc-block-components-pagination__page:focus,
.wc-block-components-pagination__page:not(.toggle):hover,
.wc-block-components-pagination__page:not(.toggle):focus,
.wc-block-components-pagination__page--active[disabled],
.wc-block-components-pagination__page--active[disabled]:hover,
.wc-block-components-pagination__page--active[disabled]:focus {
  color: var(--wp--preset--color--color-light);
  background: var(--wp--preset--gradient--horizontal-rose-to-bean-red); }

/* Checkout Cart */
.woocommerce table.shop_table,
#add_payment_method .cart-collaterals .cart_totals table,
.woocommerce-cart .cart-collaterals .cart_totals table,
.woocommerce-checkout .cart-collaterals .cart_totals table {
  border-collapse: collapse; }

.woocommerce table.shop_table a {
  text-decoration: none; }

.woocommerce table.shop_table,
.woocommerce table.shop_table td,
#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
  border: 1px solid var(--wp--preset--color--border-color); }

.woocommerce-cart table.cart th,
.woocommerce-cart .cart-collaterals .cart_totals tr th {
  color: var(--wp--preset--color--foreground); }

#coupon_code {
  width: 135px; }

.cart_totals > h2 {
  color: var(--wp--preset--color--foreground);
  font-size: var(--wp--custom--typography--font-size--heading-five);
  font-weight: 600;
  margin-bottom: 21px;
  display: block; }

#add_payment_method .cart-collaterals .cart_totals tr td,
#add_payment_method .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce-checkout .cart-collaterals .cart_totals tr td,
.woocommerce-checkout .cart-collaterals .cart_totals tr th {
  border-top: 1px solid var(--wp--preset--color--border-color); }

.shop_table_responsive .woocommerce-shipping-calculator .shipping-calculator-button {
  background-color: var(--wp--preset--color--secondary);
  display: block;
  font-size: 16px;
  font-size: 1rem;
  margin: 14px 0;
  padding: 12px;
  text-align: center; }

.select2-container--default .select2-selection--single {
  background-color: var(--wp--preset--color--primary);
  border: 1px solid var(--wp--preset--color--border-color);
  padding: 8px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--wp--preset--color--foreground);
  font-size: 14px;
  font-size: 0.875rem; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 10px;
  right: 10px; }

.select2-container .select2-selection--single {
  height: auto; }

.select2-dropdown .select2-results {
  background-color: var(--wp--preset--color--secondary); }

.select2-container--default .select2-results__option[aria-selected="true"],
.select2-container--default .select2-results__option[data-selected="true"] {
  background-color: var(--wp--preset--color--text-link);
  color: var(--wp--preset--color--color-light); }

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: var(--wp--preset--color--background);
  color: var(--wp--preset--color--foreground); }

.select2-search--dropdown {
  padding: 0; }

.select2-dropdown {
  border: 1px solid var(--wp--preset--color--border-color); }

/* Billing and Shipping */
.woocommerce-grouped-product-list a {
  text-decoration: none; }

.woocommerce-message:before,
.woocommerce-info:before {
  color: var(--wp--preset--color--text-link); }

.woocommerce-message,
.woocommerce-info {
  border-top-color: var(--wp--preset--color--text-link); }

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  background-color: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--body-text); }

.woocommerce-error a,
.woocommerce-info a,
.woocommerce-message a {
  text-decoration: none; }

#customer_details {
  margin-bottom: 28px; }

#customer_details h3,
.checkout.woocommerce-checkout h3 {
  font-size: var(--wp--custom--typography--font-size--heading-five);
  font-weight: 600;
  margin-bottom: 21px;
  display: block; }

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background-color: var(--wp--preset--color--primary); }

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  border: 1px solid var(--wp--preset--color--border-color); }

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
  border-bottom: 1px solid var(--wp--preset--color--border-color); }

/* Mini Cart */
.wc-block-components-drawer,
.wp-block-woocommerce-mini-cart-contents {
  background-color: var(--wp--preset--color--secondary);
  border: 0; }

h2.wc-block-mini-cart__title {
  font-size: var(--wp--custom--typography--font-size--heading-five);
  font-weight: 600;
  margin-bottom: 21px;
  display: block;
  margin: 50px 25px 0; }

.editor-styles-wrapper table.wc-block-cart-items .wc-block-cart-items__row .wc-block-components-product-name,
table.wc-block-cart-items .wc-block-cart-items__row .wc-block-components-product-name {
  text-decoration: none; }

.is-mobile table.wc-block-cart-items .wc-block-cart-items__row {
  border-top: 1px solid var(--wp--preset--color--border-color); }

.wc-block-mini-cart__footer {
  border-top: 1px solid var(--wp--preset--color--border-color); }

table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link {
  cursor: pointer;
  text-decoration: none; }

table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link:hover,
table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link:focus {
  color: var(--wp--preset--color--text-link); }

.wc-block-mini-cart__button {
  cursor: pointer;
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--custom--typography--font-weight--bold);
  line-height: var(--wp--custom--typography--line-height--paragraph);
  color: var(--wp--preset--color--body-text);
  transition: all .3s ease-in-out; }

.wc-block-mini-cart__button:hover,
.wc-block-mini-cart__button:focus,
.wc-block-mini-cart__button:hover:not([disabled]):hover,
.wc-block-mini-cart__button:hover:not([disabled]):focus {
  cursor: pointer;
  color: var(--wp--preset--color--text-link);
  opacity: 1; }

.wc-block-components-drawer .components-modal__header .components-button {
  cursor: pointer;
  transition: all .3s ease-in-out; }

.wc-block-components-drawer .components-modal__header .components-button:hover,
.wc-block-components-drawer .components-modal__header .components-button:focus {
  color: var(--wp--preset--color--text-link); }

.wc-block-components-totals-item__label,
.wc-block-formatted-money-amount.wc-block-components-formatted-money-amount.wc-block-components-totals-item__value {
  color: var(--wp--preset--color--foreground); }

.wc-block-mini-cart__footer .wc-block-mini-cart__footer-actions .wc-block-mini-cart__footer-cart.wc-block-components-button {
  border: 1px solid var(--wp--preset--color--border-color);
  box-shadow: none;
  color: var(--wp--preset--color--foreground); }

.wc-block-components-button:not(.is-link).contained,
.wc-block-components-button:not(.is-link).contained:active,
.wc-block-components-button:not(.is-link).contained:disabled,
.wc-block-components-button:not(.is-link).contained:focus,
.wc-block-components-button:not(.is-link).contained:hover {
  background-color: var(--wp--preset--color--border-color);
  color: var(--wp--preset--color--foreground);
  transition: all .3s ease-in-out; }

.wc-block-components-button:not(.is-link).contained:hover,
.wc-block-components-button:not(.is-link).contained:focus,
.wc-block-components-button:not(.is-link).contained:active:hover,
.wc-block-components-button:not(.is-link).contained:active:focus,
.wc-block-components-button:not(.is-link).contained:disabled:hover,
.wc-block-components-button:not(.is-link).contained:disabled:focus,
.wc-block-components-button:not(.is-link).contained:focus,
.wc-block-components-button:not(.is-link).contained:hover,
.wc-block-mini-cart__footer .wc-block-mini-cart__footer-actions .wc-block-mini-cart__footer-cart.wc-block-components-button:hover,
.wc-block-mini-cart__footer .wc-block-mini-cart__footer-actions .wc-block-mini-cart__footer-cart.wc-block-components-button:focus {
  background: var(--wp--preset--gradient--horizontal-rose-to-bean-red);
  color: var(--wp--preset--color--color-light);
  border-color: transparent; }

/* --- Block Hand Picked Products
-------------------------------------------------------- */
.wc-block-grid__product-onsale {
  position: absolute;
  top: 4px;
  right: 4px; }

.wp-block-button.wc-block-grid__product-add-to-cart {
  clear: both; }

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* --- 4
-------------------------------------------------------- */
/* --- Block Header Media & Text
-------------------------------------------------------- */
.content > .video-play {
  display: flex;
  align-items: center;
  margin: 14px 0 0 0; }

.content > .video-play,
.content.has-text-align-center > .video-play {
  justify-content: center;
  text-decoration: none; }

.content.has-text-align-left > .video-play {
  justify-content: flex-start; }

.content.has-text-align-right > .video-play {
  justify-content: flex-end; }

.content > .video-play > span {
  display: inline-block;
  padding-left: 7px; }

.modal.active .close {
  left: unset;
  top: 50px;
  right: 50px; }

/* When Media Left and Right */
.wp-block-media-text:not(.is-stacked-on-mobile).has-media-on-the-right .wp-block-media-text__content {
  padding-left: 0; }

.wp-block-media-text:not(.is-stacked-on-mobile):not(.has-media-on-the-right) .wp-block-media-text__content {
  padding-right: 0; }

.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
  padding-left: 0;
  padding-right: 0; }

/* --- Block Media Quries
-------------------------------------------------------- */
/* --- > 5
-------------------------------------------------------- */
/* --- > 600px
-------------------------------------------------------- */
@media screen and (min-width: 37.5em) {
  .post-navigation-link-next {
    margin-top: 0; }

  .wp-group-author figure.wp-block-image {
    margin-bottom: 0; }

  header .wp-block-navigation .wp-block-navigation-item__content {
    padding: 10px 5px; }

  header .wp-block-navigation :where(.wp-block-navigation__submenu-container) .wp-block-navigation-item__content {
    padding: 0.5em 1em; }

  .wp-block-columns.testimonial-columns.testimonial-three-columns > .wp-block-column:not(:last-child) {
    margin-bottom: 0px; }

  .testimonial-two-columns .wp-block-catch-fse-testimonial .wp-group-author {
    margin-left: 0; }

  .wp-block-columns.testimonial-two-columns .wp-block-catch-fse-testimonial .wp-group-content:after {
    left: 35px; }

  .wp-block-centered-menu .wp-block-navigation {
    text-align: left; }

  .wp-block-footer .wp-block-navigation .has-child :where(.wp-block-navigation__submenu-container) {
    bottom: 100%;
    top: unset; }

  .wpcf7-form .two-col .wp-block-col,
  .wpcf7-form > p {
    margin-top: 28px; }

  .tnp-subscription-minimal form input.tnp-submit {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: inline-block;
    margin-top: 0; }

  .tnp-subscription-minimal form input.tnp-email {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: inline-block;
    width: 70%; } }
/* --- > 601px
-------------------------------------------------------- */
@media screen and (min-width: 37.5625em) {
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
    padding: 0 8% 0 8%; }

  .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__content {
    padding-left: 0; }

  .wp-block-media-text.is-stacked-on-mobile:not(.has-media-on-the-right) .wp-block-media-text__content {
    padding-right: 0; }

  .is-stacked-on-mobile .wp-block-media-text__media {
    margin-bottom: 0; }

  .fse-slider-wrapper:hover .tns-control > button.tns-prev,
  .fse-slider-wrapper:focus .tns-control > button.tns-prev {
    left: 30px; }

  .fse-slider-wrapper:hover .tns-control > button.tns-next,
  .fse-slider-wrapper:focus .tns-control > button.tns-next {
    right: 30px; } }
/* --- > 782px
-------------------------------------------------------- */
@media screen and (min-width: 48.875em) {
  .wp-block-sidebar-on-right .wp-block-column-sidebar {
    padding-left: var(--wp--custom--spacing--wp-block-sidebar); }

  .wp-block-sidebar-on-left .wp-block-column-sidebar {
    padding-right: var(--wp--custom--spacing--wp-block-sidebar); }

  .wp-block-footer .wp-block-widget,
  .wp-block-footer .wp-block-widget:not(:last-child),
  .wp-block-columns > .wp-block-column {
    margin-bottom: 0; }

  .wp-block-columns > .wp-block-column {
    margin-bottom: 0; }

  .wp-block-footer .wp-block-navigation .has-child :where(.wp-block-navigation__submenu-container) {
    bottom: 100%;
    top: unset; }

  .wp-block-footer .wp-block-navigation .wp-block-navigation__submenu-icon svg {
    margin-bottom: 3px;
    transform: rotate(180deg); }

  .wp-block-navigation .has-child :where(.wp-block-navigation__submenu-container) .wp-block-navigation__submenu-container {
    top: -8px; }

  .wp-block-footer .wp-block-navigation .has-child :where(.wp-block-navigation__submenu-container) .wp-block-navigation__submenu-container {
    bottom: unset; }

  header .wp-block-fse-pro-header-search .search-container,
  header .wp-block-fse-pro-header-social .social-container {
    left: auto;
    right: 0;
    width: 320px; } }
/* --- > 1024px
-------------------------------------------------------- */
@media screen and (min-width: 64em) {
  .content > .video-play > span {
    padding-left: 14px; }

  .testimonial-two-columns .wp-block-catch-fse-testimonial .wp-group-author {
    margin-left: 42px; }

  .wp-block-columns.testimonial-two-columns .wp-block-catch-fse-testimonial .wp-group-content:after {
    left: 75px; }

  .wpcf7-form .two-col {
    display: flex;
    justify-content: space-between;
    overflow: hidden; }

  .wpcf7-form .two-col .wp-block-col {
    width: 48%; } }
/* --- > 1366px
-------------------------------------------------------- */
@media screen and (min-width: 85.375em) {
  .wc-block-grid__product .wc-block-grid__product-title {
    float: left;
    width: 55%; }

  .wc-block-grid__product .wc-block-grid__product-price {
    float: right; } }
/* --- Block Color
-------------------------------------------------------- */
/* --- 6
-------------------------------------------------------- */
/* Foreground color */
.wp-block-navigation__responsive-container-open,
.wp-block-navigation__responsive-container-close,
.wp-block-navigation .current-menu-item .wp-block-navigation-item__content,
.wp-block-navigation .wp-block-navigation-item__content:hover,
.wp-block-navigation .wp-block-navigation-item__content:focus {
  color: var(--wp--preset--color--foreground); }

.is-style-outline > .wp-block-button__link:not(.has-background):hover,
.wp-block-button__link.is-style-outline:not(.has-background):hover {
  color: var(--wp--preset--color--color-light) !important; }

/* Primary color */
.wp-block-section:nth-child(2n),
.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container,
.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
  background-color: var(--wp--preset--color--primary); }

/* Wood Smoke color */
footer .wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
  background-color: var(--wp--preset--color--woodsmoke); }

/* Secondary Color */
.wp-block-tag-cloud > a,
.service-columns.wp-block-columns > .wp-block-column,
.pricing-columns.wp-block-columns > .wp-block-column {
  background-color: var(--wp--preset--color--secondary); }

/* Body color */
.wp-block-widget-area .wp-block-latest-posts__post-author,
.wp-block-widget-area .wp-block-latest-posts__post-date,
.wp-block-navigation .wp-block-navigation-item__content {
  color: var(--wp--preset--color--body-text); }

/* Link color */
a:hover, a:focus,
.wp-block-post a:hover,
.wp-block-post a:focus,
.wp-block-navigation__responsive-container-open:hover,
.wp-block-navigation__responsive-container-open:focus,
.wp-block-navigation__responsive-container-close:hover,
.wp-block-navigation__responsive-container-close:focus,
.single .taxonomy-category.wp-block-post-terms > a:hover,
.single .taxonomy-category.wp-block-post-terms > a:focus,
.single .taxonomy-post_tag.wp-block-post-terms > a:hover,
.single .taxonomy-post_tag.wp-block-post-terms > a:focus,
.wp-block-post-comments .comment-metadata a:hover,
.wp-block-post-comments .comment-metadata a:focus,
.wp-block-button.is-style-catch-fse-button .wp-block-button__link:hover,
.wp-block-button.is-style-catch-fse-button .wp-block-button__link:focus,
.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:hover,
.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:focus {
  color: var(--wp--preset--color--text-link); }

.wp-block-catch-fse-testimonial .wp-group-content:before,
.content > .video-play:hover span {
  color: var(--wp--preset--color--text-link); }

a:hover svg.icon,
a:focus svg.icon,
.content > .video-play:hover svg {
  fill: var(--wp--preset--color--text-link); }

/* Border Color */
.wp-block-catch-fse-testimonial .wp-block-separator,
.wp-block-sidebar .wp-block-latest-posts__list > li:not(:last-child),
.wp-block-sidebar > * h2 {
  border-color: var(--wp--preset--color--border-color); }

.is-style-outline > .wp-block-button__link:not(.has-background):hover,
.wp-block-button__link.is-style-outline:not(.has-background):hover {
  border-color: transparent;
  background-color: var(--wp--preset--color--border-color) !important;
  opacity: 1; }

.wp-block-main-header,
.wp-block-custom-header-media > span {
  background: var(--wp--preset--gradient--horizontal-color-gradient-first-to-gradient-second); }
