<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header is-style-hsbc_blocktheme-sticky"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"calc(var(--wp--custom--v-spacing, 1.25rem) *3)","bottom":"calc(var(--wp--custom--v-spacing, 1.25rem) *2)"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group alignfull" style="padding-top:calc(var(--wp--custom--v-spacing, 1.25rem) *3);padding-bottom:calc(var(--wp--custom--v-spacing, 1.25rem) *2)">

		<!-- wp:spacer -->
		<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:woocommerce/checkout {"align":"wide"} -->
		<div class="wp-block-woocommerce-checkout alignwide wc-block-checkout"><!-- wp:woocommerce/checkout-fields-block -->
		<div class="wp-block-woocommerce-checkout-fields-block"><!-- wp:woocommerce/checkout-express-payment-block -->
		<div class="wp-block-woocommerce-checkout-express-payment-block"></div>
		<!-- /wp:woocommerce/checkout-express-payment-block -->

		<!-- wp:woocommerce/checkout-contact-information-block -->
		<div class="wp-block-woocommerce-checkout-contact-information-block"></div>
		<!-- /wp:woocommerce/checkout-contact-information-block -->

		<!-- wp:woocommerce/checkout-shipping-address-block -->
		<div class="wp-block-woocommerce-checkout-shipping-address-block"></div>
		<!-- /wp:woocommerce/checkout-shipping-address-block -->

		<!-- wp:woocommerce/checkout-billing-address-block -->
		<div class="wp-block-woocommerce-checkout-billing-address-block"></div>
		<!-- /wp:woocommerce/checkout-billing-address-block -->

		<!-- wp:woocommerce/checkout-shipping-methods-block -->
		<div class="wp-block-woocommerce-checkout-shipping-methods-block"></div>
		<!-- /wp:woocommerce/checkout-shipping-methods-block -->

		<!-- wp:woocommerce/checkout-payment-block -->
		<div class="wp-block-woocommerce-checkout-payment-block"></div>
		<!-- /wp:woocommerce/checkout-payment-block -->

		<!-- wp:woocommerce/checkout-order-note-block -->
		<div class="wp-block-woocommerce-checkout-order-note-block"></div>
		<!-- /wp:woocommerce/checkout-order-note-block -->

		<!-- wp:woocommerce/checkout-terms-block -->
		<div class="wp-block-woocommerce-checkout-terms-block"></div>
		<!-- /wp:woocommerce/checkout-terms-block -->

		<!-- wp:woocommerce/checkout-actions-block -->
		<div class="wp-block-woocommerce-checkout-actions-block"></div>
		<!-- /wp:woocommerce/checkout-actions-block --></div>
		<!-- /wp:woocommerce/checkout-fields-block -->

		<!-- wp:woocommerce/checkout-totals-block -->
		<div class="wp-block-woocommerce-checkout-totals-block"><!-- wp:woocommerce/checkout-order-summary-block -->
		<div class="wp-block-woocommerce-checkout-order-summary-block"></div>
		<!-- /wp:woocommerce/checkout-order-summary-block --></div>
		<!-- /wp:woocommerce/checkout-totals-block --></div>
		<!-- /wp:woocommerce/checkout -->

		<!-- wp:spacer -->
		<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
