<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header is-style-hsbc_blocktheme-sticky"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"calc(var(--wp--custom--v-spacing, 1.25rem) *3)","bottom":"calc(var(--wp--custom--v-spacing, 1.25rem) *2)"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group alignfull" style="padding-top:calc(var(--wp--custom--v-spacing, 1.25rem) *3);padding-bottom:calc(var(--wp--custom--v-spacing, 1.25rem) *2)">

	<!-- wp:columns {"align":"full","style":{"spacing":{"padding":{"right":"var(--wp--custom--h-spacing, 2.375rem)","left":"var(--wp--custom--h-spacing, 2.375rem)"}}}} -->
	<div class="wp-block-columns alignfull" style="padding-right:var(--wp--custom--h-spacing, 2.375rem);padding-left:var(--wp--custom--h-spacing, 2.375rem)">

	<!-- wp:column {"width":"75%"} -->
	<div class="wp-block-column" style="flex-basis:75%">

		<!-- wp:post-title {"className":"is-style-hsbc_blocktheme-text-shadow","fontSize":"x-large"} /-->

		<!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->

		<!-- wp:spacer {"height":"40px"} -->
		<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:separator {"color":"secondary","className":"is-style-wide"} -->
		<hr class="wp-block-separator has-text-color has-background has-secondary-background-color has-secondary-color is-style-wide" />
		<!-- /wp:separator -->

		<!-- wp:template-part {"slug":"comments"} /-->

	</div>
	<!-- /wp:column -->

	<!-- wp:column {"width":"25%","style":{"spacing":{"padding":{"left":"var(--wp--custom--h-spacing, 2.375rem)"}}}} -->
	<div class="wp-block-column" style="padding-left:var(--wp--custom--h-spacing, 2.375rem);flex-basis:25%">
		<!-- wp:template-part {"slug":"sidebar"} /-->
	</div>
	<!-- /wp:column -->

	</div>
	<!-- /wp:columns -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
