/*
 * CSS for registered block styles.
 * See inc/register-block-styles.php.
 */

/* Flat button */
.is-style-hsbc_blocktheme-flat-button .wp-block-button__link,
.is-style-hsbc_blocktheme-flat-button .wp-block-button__link:hover,
.is-style-hsbc_blocktheme-flat-button .wp-block-button__link:focus,
.is-style-hsbc_blocktheme-flat-button .wp-block-button__link:active,
.is-style-hsbc_blocktheme-flat-button .wp-block-button__link:visited {
	box-shadow: none;
	border-radius: 0;
	margin-top: initial;
	margin-bottom: initial;
}

/* Button with shadow */
.is-style-hsbc_blocktheme-button-shadow .wp-block-button__link,
.is-style-hsbc_blocktheme-button-shadow .wp-block-button__link:hover,
.is-style-hsbc_blocktheme-button-shadow .wp-block-button__link:focus,
.is-style-hsbc_blocktheme-button-shadow .wp-block-button__link:visited {
	box-shadow: var(--wp--custom--button-shadow);
}

.is-style-hsbc_blocktheme-button-shadow .wp-block-button__link:active {
	box-shadow: var(--wp--custom--button-highlight);
}

/* Menu button style */
.is-style-hsbc_blocktheme-navigation-button button.wp-block-navigation__responsive-container-close,
.is-style-hsbc_blocktheme-navigation-button button.wp-block-navigation__responsive-container-open {
	font-size: var(--wp--preset--font-size--small);
	font-family: var(--wp--preset--font-family--system);
	line-height: 1.7;
	padding: 0;
	border: 2px solid var(--wp--custom--button-border-color);
	border-radius: var(--wp--custom--button-border-radius);
	background: var(--wp--preset--color--secondary);
	color: var(--wp--preset--color--foreground);
	box-shadow: var(--wp--custom--small-button-shadow);
}

.is-style-hsbc_blocktheme-navigation-button button.wp-block-navigation__responsive-container-close:hover,
.is-style-hsbc_blocktheme-navigation-button button.wp-block-navigation__responsive-container-open:hover,
.is-style-hsbc_blocktheme-navigation-button button.wp-block-navigation__responsive-container-close:focus,
.is-style-hsbc_blocktheme-navigation-button button.wp-block-navigation__responsive-container-open:focus {
	color: var(--wp--preset--color--foreground);
	filter: brightness(94%) !important;
	box-shadow: var(--wp--custom--small-button-shadow);
}

.is-style-hsbc_blocktheme-navigation-button button.wp-block-navigation__responsive-container-close:active,
.is-style-hsbc_blocktheme-navigation-button button.wp-block-navigation__responsive-container-open:active {
	border-color: var(--wp--custom--button-border-color);
	box-shadow: var(--wp--custom--button-highlight);
	color: var(--wp--preset--color--foreground);
	filter: brightness(93%) !important;
	margin-top: 1px;
	margin-bottom: -1px;
}

.is-style-hsbc_blocktheme-navigation-button button.wp-block-navigation__responsive-container-close:visited,
.is-style-hsbc_blocktheme-navigation-button button.wp-block-navigation__responsive-container-open:visited {
	background-color: initial;
	border-color: var(--wp--custom--button-border-color);
	color: var(--wp--preset--color--foreground);
	box-shadow: var(--wp--custom--small-button-shadow);
}

/* Menu button with shadow */
.is-style-hsbc_blocktheme-navigation-button-shadow button.wp-block-navigation__responsive-container-close,
.is-style-hsbc_blocktheme-navigation-button-shadow button.wp-block-navigation__responsive-container-open {
	font-size: var(--wp--preset--font-size--small);
	font-family: var(--wp--preset--font-family--system);
	line-height: 1.7;
	padding: 0;
	border: 2px solid var(--wp--custom--button-border-color);
	border-radius: var(--wp--custom--button-border-radius);
	background: var(--wp--preset--color--secondary);
	color: var(--wp--preset--color--foreground);
	box-shadow: var(--wp--custom--button-shadow);
}

.is-style-hsbc_blocktheme-navigation-button-shadow button.wp-block-navigation__responsive-container-close:hover,
.is-style-hsbc_blocktheme-navigation-button-shadow button.wp-block-navigation__responsive-container-open:hover,
.is-style-hsbc_blocktheme-navigation-button-shadow button.wp-block-navigation__responsive-container-close:focus,
.is-style-hsbc_blocktheme-navigation-button-shadow button.wp-block-navigation__responsive-container-open:focus {
	color: var(--wp--preset--color--foreground);
	filter: brightness(94%) !important;
	box-shadow: var(--wp--custom--small-button-shadow);
}

.is-style-hsbc_blocktheme-navigation-button-shadow button.wp-block-navigation__responsive-container-close:active,
.is-style-hsbc_blocktheme-navigation-button-shadow button.wp-block-navigation__responsive-container-open:active {
	border-color: var(--wp--custom--button-border-color);
	box-shadow: var(--wp--custom--button-highlight);
	color: var(--wp--preset--color--foreground);
	filter: brightness(93%) !important;
	margin-top: 1px;
	margin-bottom: -1px;
}

.is-style-hsbc_blocktheme-navigation-button-shadow button.wp-block-navigation__responsive-container-close:visited,
.is-style-hsbc_blocktheme-navigation-button-shadow button.wp-block-navigation__responsive-container-open:visited {
	background-color: initial;
	border-color: var(--wp--custom--button-border-color);
	color: var(--wp--preset--color--foreground);
	box-shadow: var(--wp--custom--small-button-shadow);
}

/* Text shadow */
.is-style-hsbc_blocktheme-text-shadow {
	text-shadow: var(--wp--custom--text-shadow);
}

/* Box shadow */
.is-style-hsbc_blocktheme-box-shadow {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

/* Lists*/
.is-style-hsbc_blocktheme-list-underline li {
	border-bottom: 1px solid currentcolor;
}

.is-style-hsbc_blocktheme-list-underline ul {
	border-top: 1px solid currentcolor;
}

.is-style-hsbc_blocktheme-list-underline ul li {
	border: none;
}
