/*
Theme Name: HSBC_BlockTheme
Author: MG_TEAM
Author URI: 
Theme URI: 
Tags: full-site-editing, editor-style, block-styles, block-patterns
Text Domain: hsbc_blocktheme
Requires at least: 6.0
Requires PHP: 7.4
Tested up to: 6.0
Version: 1.0.0

License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

All files, unless otherwise stated, are released under the GNU General Public
License version 2.0 (http://www.gnu.org/licenses/gpl-2.0.html)

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned
with others.
*/

/* Styles intended only for the front.*/
html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {

	html {
		scroll-behavior: auto;
	}
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/*
Sticky header is experimental, only use it on the front for screens above 782px width.
*/
@media screen and (min-width: 782px) {

	.is-style-hsbc_blocktheme-sticky {
		position: sticky;
		top: 0;
		z-index: 999;
	}

	/* Move the sticky position down to adjust for the WordPress admin bar */
	.admin-bar .is-style-hsbc_blocktheme-sticky {
		top: 32px;
	}
}

/*
 * Increase horizontal padding on smaller screens.
 * Temporary solution to avoid text content
 * running up to the edge of the browser window,
 * making the text difficult to read.
*/
@media ( max-width: 1024px ) {

	main > :not(.alignfull),
	main .wp-block-query > :not(.alignfull),
	main .entry-content > :not(.alignfull):not(ul):not(ol),
	main .entry-content .wp-block-columns.alignfull p {
		padding-left: var(--wp--custom--h-spacing);
		padding-right: var(--wp--custom--h-spacing);
	}
}
